body {
  font-family: Roboto, sans-serif;
}

h1 {
  color: var(--white-text);
}

.fon-hero {
  background-color: var(--grey-fone);
}

.hero-button {
  background-color: var(--blu-text);
}

.button-text {
  color: var(--white-text);
}

.list-advantages .advantages {
  font-weight: 700;
}

.list-advantages .list-description {
  font-weight: 400;
  color: var(--grey-text);
}

.title {
  font-weight: 700;
  color: var(--black-text);
}

.title-command .initials {
  font-weight: 500;
  color: var(--black-text);
}

.title-command .profession {
  font-weight: 400;
  color: var(--grey-text);
}

.ghost {
  display: none;
}
